<nav class="navbar navbar-expand-lg navbar-light headerPrincipal">
<a class="navbar-brand" routerLink="../app-root"><img src="../../assets/unnamed.png" width="45" height="45" alt=""></a>
  <button class="navbar-toggler " type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" image="../" ></span>
  </button>
  <div class="collapse navbar-collapse text-align-right" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="../app-about-us">About Us<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../app-events">Events</a>
      </li>
     </ul>
  </div>
</nav>