<div class="footer">
  <ul>
    <div> © 2020 by OmniSavy UG (haftungsbeschränkt)</div>
    <li>
      <a href="https://www.linkedin.com/company/omnisavy/" target="_blank">
        <figure>
          <img alt="LinkedIn" class="footerImage" src="../../assets/iconfinder_1_Linkedin_unofficial_colored_svg_5296501.png" />
        </figure>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/OmniSavy" target="_blank">
        <figure><img  alt="Twitter" class="footerImage" src="../../assets/iconfinder_1_Twitter_colored_svg_5296514.png"/>
        </figure>
      </a>
    </li><li>
      <a href="https://www.facebook.com/OmniSavy" target="_blank">
        <figure><img alt="Facebook" class="footerImage" src="../../assets/iconfinder_1_Facebook_colored_svg_copy_5296499.png" />
        </figure>
      </a>
    </li><li>
      <a href="https://www.instagram.com/omnisavy/" target="_blank">
        <figure><img alt="Instagram"  class="footerImage" src="../../assets/iconfinder_1_Instagram_colored_svg_1_5296765.png" />
        </figure>
      </a>
    </li>
  </ul>
</div>
